# AWS
AWS_ACCESS_KEY_ID='your_aws_access_key_here'
AWS_SECRET_ACCESS_KEY='your_aws_secret_access_key_here'
AWS_REGION='eu-north-1'

# S3
S3_BUCKET_RAW='intelligent-analytics-bucket'

# Athena
ATHENA_DATABASE='raw_olist'
ATHENA_RESULTS_BUCKET='s3://intelligent-analytics-athena-results'

# Groq / LLM
GROQ_API_KEY='your_groq_api_key_here'
